@page
@model Univ_WebSite_Razor_Core_Login5.Pages.MyAccount.AccessDeniedModel
@{
}
<div class="text-center text-danger">
    <h1 class="display-4">AccessDenied</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
