@page
@model Univ_WebSite_Razor_Core_Login5.Pages.HumanResourceModel
@{
}

<div class="text-center text-danger">
    <h1 class="display-4">Human Resource</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
